<h1 class="mb-1 restaurant-show-title">{{restaurant.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils"></i>
          類別：
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt"></i>
          地址：
        </span>
        {{restaurant.location}}
        <a href="{{restaurant.google_map}}" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow fa-xs"></i>
        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt"></i>
          電話：
        </span>
        {{restaurant.phone}}
      </p>

      <p class="mb-5">
        餐廳介紹：
        {{restaurant.description}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100" src="{{restaurant.image}}" alt="{{restaurant.name}}"
        style="max-width: 600px;">
      <div class="bottom">
        <a href="/restaurants/{{ restaurant._id }}/edit" class="btn btn-dark  mb-5">編輯</a>
        <form action="/restaurants/{{restaurant._id}}/delete" method="POST" style="display:inline;">
          <button type="submit" class="btn btn-danger mb-5">刪除</button>
        </form>
        <a href="/" class="btn btn-secondary mb-5">返回首頁</a>
      </div>
    </div>
  </div>
</div>